<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Suraj">
    <link rel="shortcut icon" href="/img/Poseidon_Ico.ico" />
    <link rel="stylesheet" href="/css/core/bootstrap-5.3.1/bootstrap.min.css"  type="text/css" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/css/core/flag-icon.min.css" type="text/css" />
    <title>Terms And Company details</title>
    <script type="text/javascript" src="/js/company-scripts.js"></script>
    <script type="text/javascript" src="/js/navbar-scripts.js"></script>
</head>
<body onload="hideUpdate()">
    <div th:insert="~{navbar :: navbar}"></div>
    <div th:if="${message != null}">
        <div class="alert alert-success text-center" role="alert">
            [[${message}]]
        </div>
    </div>
    <div class="container">
        <div class="wrap">
            <div class="card">
                <div class="card-header">
                    Company Details
                </div>
                <div class="card-body">
                    <form method="POST" th:object="${companyTerms}">
                        <input type="hidden" th:field="*{id}" id="id" />
                        <div class="row g-3">
                            <div class="col-md-3">
                              <label for="name" class="form-label">Company Name :</label>
                              <input th:field="*{name}" class="form-control" id="name" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="phone" class="form-label">Company Phone Number :</label>
                              <input th:field="*{phone}" class="form-control" id="phone" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="email" class="form-label">Company email :</label>
                              <input th:field="*{email}" class="form-control" id="email" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="website" class="form-label">Company Website :</label>
                              <input th:field="*{website}" class="form-control" id="website" disabled/>
                            </div>
                            <div class="col-md-6">
                              <label for="address" class="form-label">Company Address :</label>
                                <textarea th:field="*{address}" rows="5" cols="30" class="form-control"
                                          id="address" disabled></textarea>
                            </div>
                            <div class="col-md-6">
                              <label for="terms" class="form-label">Company Terms & Conditions :</label>
                              <textarea th:field="*{terms}" rows="5" cols="30" class="form-control"
                                           id="terms" disabled></textarea>
                            </div>
                            <div class="col-md-3">
                              <label for="code" class="form-label">Company code :</label>
                              <input th:field="*{code}" class="form-control" id="code" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="vatTin" class="form-label">Company's VAT TIN :</label>
                              <input th:field="*{vatTin}" class="form-control" id="vatTin" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="cstTin" class="form-label">Company's CST TIN :</label>
                              <input th:field="*{cstTin}" class="form-control" id="cstTin" disabled/>
                            </div>
                            <div class="col-md-3">
                              <label for="uploadImage" class="form-label">Company Logo :</label>
                              <input class="btn" value="Upload New Image" type="button" id="uploadImage" onclick="uploadImage();"/>
                            </div>
                            <div class="col-md-12">
                                <input type="button" class="btn btn-primary btn-success" id="edit" value="Edit" onclick="editMe();"/>
                                <input type="button" class="btn btn-primary btn-success" id="update" value="Update" onclick="updateCompanyDetails();"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap-5.3.1/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
