@import url('https://fonts.googleapis.com/css?family=Arsenal');

body {
    font-family: 'Arsenal', cursive;
}
table {
    margin:auto;
    top:50%;
    left:50%;
}
.foottable {
    margin:auto;
    top:50%;
    left:50%;
}