@import url('/css/core/Arsenal.css');

body {
    font-family: 'Arsenal', cursive;
}
table {
    margin:auto;
    top:50%;
    left:50%;
}
.foottable {
    margin:auto;
    top:50%;
    left:50%;
}
.pop-status {
	width:100%;
 	padding:20px;
	text-align:center;
}
.pop-status img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.pop-status h3{
	font-size: 32px;
    margin-bottom: 25px;
	color:#5C5C5C;
}