@import url('/css/core/Arsenal.css');

body {
    font-family: 'Arsenal', cursive;
}
table {
    margin:auto;
    top:50%;
    left:50%;
}
.foottable {
    margin:auto;
    top:50%;
    left:50%;
}
.pop-status {
	width:100%;
 	padding:20px;
	text-align:center;
}
.pop-status img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.pop-status h3{
	font-size: 32px;
    margin-bottom: 25px;
	color:#5C5C5C;
}

.jumbotron {
	display: flex;
	align-items: center;
	height: 600px;
	background-image: url("/img/home.svg");
	background-repeat: no-repeat;
	background-size:  contain;
	background-position: center;
	background-color: transparent;
}

.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: #FFBABA;
	background-image: url('/img/Error.png' );
}

*.icon-dark {
	color: grey;
}