@import url('https://fonts.googleapis.com/css?family=Arsenal');

body {
    background: #ffffff ;
    font-family: 'Arsenal', cursive;
}

#signin .sign_in {
    float: left;
    margin: 20px 0 0 0;
    width: 283px;
    display:inline;
}

#signin div { padding: 20px 0 20px 0; }

#signin div p {
    margin: 0 20px 10px 20px;
    font-weight: bold;
    font-size: .70em;
    color: #0d0d0d;
}

#signin input {
    padding: 3px;
    width: 240px;
}

div.button { margin-bottom: 0; }
#signin p.button input { width: auto; }
#signin .sign_in input { width: 200px; }

.box_wrapper {
    width:500px;
    height:200px;
    margin:auto;
    margin-top: 190px;
}