<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Suraj">
    <link rel="shortcut icon" href="/img/Poseidon_Ico.ico" />
    <link rel="stylesheet" href="/css/core/bootstrap-5.3.1/bootstrap.min.css"  type="text/css" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/css/core/flag-icon.min.css" type="text/css" />
    <title>Error Page</title>
    <script type="text/javascript" src="/js/navbar-scripts.js"></script>
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <form method="POST">
        <input type="hidden" name="id" id="id" />
        <section class="jumbotron center">
            <div class="error">
                <label> An error has been occurred while processing the page</label>
            </div>
        </section>
    </form>
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap-5.3.1/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
