<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="navbar" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="goToHome();">
            <img src="/img/trident.png" width="30" height="30" class="d-inline-block align-text-top" alt="Poseidon"/>
            Poseidon
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div th:if="${not #sets.isEmpty(#authentication.getPrincipal().getAuthorities())}">
                    <li class='nav-item' id='user'><a href='#' class='nav-link' onclick='listMe();' >User</a></li>
                </div>
                <li class="nav-item" id="make">
                    <a class="nav-link" href="#" onclick="fetchModels();" >Models</a>
                </li>
                <li th:if="${@securityService.hasRole('ADMIN')}">
                    <a class="nav-link" href="#" onclick="fetchCompanies();" >Companies</a>
                </li>
                <li class="nav-item" id="customer">
                    <a class="nav-link" href="#" onclick="fetchCustomers();" >Customer</a>
                </li>
                <li class="nav-item" id="transaction">
                    <a class="nav-link" href="#" onclick="fetchTransactions();" >Transactions</a>
                </li>
                <li class="nav-item" id="inventory">
                    <a class="nav-link" href="#" onclick="fetchInvoice();" >Invoice</a>
                </li>
                <li class="nav-item" id="report">
                    <a class="nav-link" href="#" onclick="fetchReport();" >Report</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" id="locale_switch">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownLocale" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="flag-icon flag-icon-us flag-icon-squared"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLocale">
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us flag-icon-squared">
                            </i>English <i class="fa fa-check text-success ms-2"></i>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-pl flag-icon-squared"></i>Polski</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn flag-icon-squared"></i>中文</a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class='nav-link dropdown-toggle' href='#' id='dropdownMenu1' role="button" data-bs-toggle='dropdown' aria-expanded='false'>
                        <span class="ml-auto mr-3 order-lg-last" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu1">
                        <li th:unless="${@securityService.hasRole('ADMIN')}">
                            <a class="dropdown-item" href="#" onclick="fetchCompany();" >My Company</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="resetPassword();">Reset Password</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="logMeOut();">Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </div>
</nav>
<br />
</div>
</body>
</html>
