<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Suraj">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="shortcut icon" href="/img/Poseidon_Ico.ico" />
    <link rel="stylesheet" href="/css/core/bootstrap-5.min.css"  type="text/css" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <title>Customer List</title>
    <script type="text/javascript" src="/js/common-scripts.js"></script>
    <script type="text/javascript" src="/js/customer-scripts.js"></script>
    <script type="text/javascript" src="/js/navbar-scripts.js"></script>
</head>
<body onload="hideAlerts()">
    <form method="POST" th:object="${customerForm}">
        <input type="hidden" name="id" id="id" />
        <input type="hidden" name="loggedInUser" path="loggedInUser" />
        <input type="hidden" name="loggedInRole" path="loggedInRole" />
        <div th:insert="/navbar::navbar"></div>
        <div class="container">
            <div class="wrap">
                <div class="card">
                    <div class="card-header">
                        Search Customers
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-2">
                              <input class="form-control" th:field="*{searchCustomerVO.customerId}" id="customerId" placeholder="Customer Id" />
                            </div>
                            <div class="col-md-6">
                              <input class="form-control" th:field="*{searchCustomerVO.customerName}" id="customerName" placeholder="Customer Name" />
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" th:field="*{searchCustomerVO.mobile}" id="mobile" placeholder="Mobile" />
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" th:field="*{searchCustomerVO.includes}" class="form-check-input" id="includes" value="" />
                                    <label class="form-check-label" for="includes">
                                        Includes
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" th:field="*{searchCustomerVO.startsWith}" class="form-check-input" id="startswith" value="" />
                                    <label class="form-check-label" for="startsWith">
                                        Starts with
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary" value="Search" onclick="search()"/>
                            </div>
                            <div class="col-md-6">
                                <input type="button"  class="btn btn-primary" value="Clear" onclick="clearOut()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <span th:if="${customerForm.statusMessage != null}">
                    <div class="alert alert-dismissible fade show" th:classappend="'alert-' + ${customerForm.statusMessageType}" role="alert">
                        <p th:text="${customerForm.statusMessage}" />
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </span>
                <table id='myTable' class="table table-bordered table-striped table-hover caption-top">
                    <caption>Customer Details</caption>
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="iterationCust : ${customerForm.customerVOs}">
                            <th scope="row"><input type="checkbox" name="checkField" onclick="checkCall(this)"
                                       th:value="${iterationCust.customerId}" /></th>
                            <td><span th:text="${iterationCust.customerId}"></span></td>
                            <td><span th:text="${iterationCust.customerName}"></span></td>
                            <td><span th:text="${iterationCust.address}"></span></td>
                            <td><span th:text="${iterationCust.phoneNo}"></span></td>
                            <td><span th:text="${iterationCust.mobile}"></span></td>
                            <td><span th:text="${iterationCust.email}"></span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row g-3">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCustomer"
                        onclick="addSmartCustomer();">Add New Customer</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCustomer"
                            onclick="editSmartCustomer();">Edit customer</button>
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-primary" value="View Customer" data-bs-toggle="modal" data-bs-target="#customerDetail" onclick="viewCustomer()"/>
                    </div>
                    <div class="col-md-3">
                        <input type="button" class="btn btn-primary" value="Delete Customer" onclick="deleteCustomer()"/>
                    </div>
                </div>
                <div id="newCustomer" class="modal fade" tabindex="-1" aria-labelledby="newCustomer" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add new Customer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="newCustomerBody" class="modal-body">
                                <p>Lets add some customers....</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="saveSmartCustomer" class="btn btn-primary" onclick="saveFromModal();">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="editCustomer" class="modal fade" tabindex="-1" aria-labelledby="editCustomer" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Customer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="editCustomerBody" class="modal-body">
                                <p>Lets edit customer....</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="updateSmartCustomer" class="btn btn-primary" onclick="updateFromModal();">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="customerDetail" class="modal fade" tabindex="-1" aria-labelledby="customerDetail" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Customer Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="detail" class="modal-body">
                                <p>Details of the customer.....</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/js/core/bootstrap-5.min.js" type="text/javascript"></script>
    </form>
</body>
</html>
