<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDelegate" class="com.poseidon.User.delegate.UserDelegate">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userService" class="com.poseidon.User.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="userDAO" class="com.poseidon.User.dao.impl.UserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="txsDelegate" class="com.poseidon.Transaction.delegate.TransactionDelegate">
        <property name="transactionService" ref="transactionService"/>
    </bean>
    <bean id="transactionService" class="com.poseidon.Transaction.service.impl.TransactionServiceImpl">
        <property name="transactionDAO" ref="transactionDAO"/>
    </bean>

    <bean id="transactionDAO" class="com.poseidon.Transaction.dao.impl.TransactionDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="makeDelegate" class="com.poseidon.Make.delegate.MakeDelegate">
        <property name="makeService" ref="makeService"/>
    </bean>
    <bean id="makeService" class="com.poseidon.Make.service.impl.MakeServiceImpl">
        <property name="makeDAO" ref="makeDAO"/>
    </bean>

    <bean id="makeDAO" class="com.poseidon.Make.dao.impl.MakeDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="customerDelegate" class="com.poseidon.Customer.delegate.CustomerDelegate">
        <property name="customerService" ref="customerService"/>
    </bean>
    <bean id="customerService" class="com.poseidon.Customer.service.impl.CustomerServiceImpl">
        <property name="customerDAO" ref="customerDAO"/>
    </bean>

    <bean id="customerDAO" class="com.poseidon.Customer.dao.impl.CustomerDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="companyDelegate" class="com.poseidon.CompanyTerms.delegate.CompanyTermsDelegate">
        <property name="companyTermsService" ref="companyService"/>
    </bean>
    <bean id="companyService" class="com.poseidon.CompanyTerms.service.impl.CompanyTermsServiceImpl">
        <property name="companyTermsDAO" ref="companyDAO"/>
    </bean>

    <bean id="companyDAO" class="com.poseidon.CompanyTerms.dao.impl.CompanyTermsDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="reportsDelegate" class="com.poseidon.Reports.delegate.ReportsDelegate">
        <property name="reportsService" ref="reportsService"/>
        <property name="companyTermsService" ref="companyService"/>
        <property name="transactionService" ref="transactionService"/>
        <property name="makeService" ref="makeService"/>
        <property name="invoiceService" ref="invoiceService"/>
    </bean>
    <bean id="reportsService" class="com.poseidon.Reports.service.impl.ReportsServiceImpl">
        <property name="reportsDAO" ref="reportsDAO"/>
    </bean>

    <bean id="reportsDAO" class="com.poseidon.Reports.dao.impl.ReportsDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="invoiceDelegate" class="com.poseidon.Invoice.delegate.InvoiceDelegate">
        <property name="invoiceService" ref="invoiceService"/>
        <property name="transactionService" ref="transactionService"/>
    </bean>

    <bean id="invoiceService" class="com.poseidon.Invoice.service.impl.InvoiceServiceImpl">
        <property name="invoiceDAO" ref="invoiceDAO"/>
    </bean>

    <bean id="invoiceDAO" class="com.poseidon.Invoice.dao.impl.InvoiceDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="testuser"></property>
        <property name="password" value="test123"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/poseidon">
        </property>
    </bean>
    <!-- For cloud, use the below data source -->
    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.cloudbees.jdbc.Driver" />
        <property name="username" value="localuser"></property>
        <property name="password" value="localuser"></property>
        <property name="url" value="jdbc:cloudbees://poseidon">
        </property>
    </bean>-->

    <!-- Transaction Manager For a Single JDBC DataSource-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"> <ref local="dataSource" /></property>
    </bean>

</beans>