<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" content="${_csrf.token}"/>
        <meta name="_csrf_header" content="${_csrf.headerName}"/>
        <meta name="description" content="">
        <meta name="author" content="Suraj">
        <link rel="shortcut icon" href="/img/Poseidon_Ico.ico" />
        <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="/css/core/bootstrap-5.min.css"  type="text/css" />
        <link rel="stylesheet" href="/css/custom.css" type="text/css" />
        <title>Add Transaction</title>
        <script type="text/javascript" src="/js/txn-add-scripts.js"></script>
        <script type="text/javascript" src="/js/navbar-scripts.js"></script>
    </head>
    <body>
        <form method="POST" th:object="${transactionForm}">
            <input type="hidden" name="loggedInUser" />
            <input type="hidden" name="loggedInRole" />
            <div th:insert="/navbar::navbar"></div>
            <div class="container">
                <div class="wrap">
                    <div class="card">
                        <div class="card-header">
                            Add Transaction
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="productCategory" class="form-label">Product Category : *</label>
                                    <input type="text" class="form-control" th:field="*{currentTransaction.productCategory}" id="productCategory"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="serialNo" class="form-label">Serial No :*</label>
                                    <input type="text" class="form-control" th:field="*{currentTransaction.serialNo}" id="serialNo"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="dateReported" class="form-label">Transaction Date :* <img src="/img/calendar3.svg" alt="" width="16" height="16" title="calendar" /></label>
                                    <input type="text" th:field="*{currentTransaction.dateReported}" class="date-picker form-control" id="dateReported" />
                                </div>
                                <div class="col-md-4">
                                    <label for="customerId" class="form-label">Customer Id :*</label>
                                    <input type="text" th:field="*{customerVO.customerId}" class="form-control" id="customerId"/>
                                </div>
                                <div class="col-md-8">
                                    <label for="customerId" class="form-label" style="font-size: .70em;color:blue;">Enter Customer Details in case of New Customer</label>
                                </div>
                                <div class="col-md-4">
                                    <label for="customerName" class="form-label">Customer Name :*</label>
                                    <input type="text" class="form-control" th:field="*{customerVO.customerName}" id="customerName"/>
                                </div>
                                <div class="col-md-8">
                                    <label for="address1" class="form-label">Address Line :</label>
                                    <input type="text" class="form-control" th:field="*{customerVO.address}" id="address1"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="phoneNo" class="form-label">Phone :</label>
                                    <input type="text" class="form-control" th:field="*{customerVO.phoneNo}" id="phoneNo"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="mobile" class="form-label">Mobile :</label>
                                    <input type="text" class="form-control" th:field="*{customerVO.mobile}" id="mobile"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email :</label>
                                    <input type="text" class="form-control" th:field="*{customerVO.email}" id="email"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="makeId" class="form-label">Make :* </label>
                                    <select id="makeId" th:field="*{currentTransaction.makeId}" tabindex="1" class="form-control"
                                                 onkeypress="handleEnter(event);" onchange="changeTheModel();">
                                        <option value=""><-- Select --></option>
                                        <option th:each="i : ${transactionForm.makeVOs}" th:value="${i.Id}" th:text="${i.makeName}">
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="modelId" class="form-label">Model :* </label>
                                        <select id="modelId" th:field="*{currentTransaction.modelId}" tabindex="2" class="form-control"
                                                     onkeypress="handleEnter(event);" disabled="true">
                                            <option value=""><-- Select --></option>
                                            <option th:each="i : ${transactionForm.makeAndModelVOs}" th:value="${i.modelId}" th:text="${i.modelName}">
                                        </select>
                                </div>
                                <div class="col-md-4">
                                    <a id="gotoNewModel" href="${contextPath}/make/addModel.htm"> Add New Model</a>
                                </div>
                                <div class="col-md-4">
                                    <label for="accessories" class="form-label">Accessories :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.accessories}" id="accessories"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="complaintReported" class="form-label">Complaint Reported :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.complaintReported}" id="complaintReported"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="complaintDiagnosed" class="form-label">Complaint Diagnosed :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.complaintDiagnosed}" id="complaintDiagnosed"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="enggRemark" class="form-label">Engineer Remarks :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.enggRemark}" id="enggRemark"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="repairAction" class="form-label">Repair Action :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.repairAction}" id="repairAction"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label for="notes" class="form-label">Notes :*</label>
                                    <textarea class="form-control" th:field="*{currentTransaction.notes}" id="notes"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-success" onclick="save();">
                                        Save
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="clearOut();">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
            <script src="/js/core/popper.min.js" type="text/javascript"></script>
            <script src="/js/core/bootstrap-5.min.js" type="text/javascript"></script>
            <script src="/js/core/jquery-ui.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function()
                {
                    $(function() {
                        $("#dateReported").datepicker();
                    });
                    $('#makeId').change(function() {
                        $("#modelId").prop("disabled", false);
                    });
                });
            </script>
        </form>
    </body>
</html>
