<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="db-hsqldb-config.xml"/>

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="testuser"></property>
        <property name="password" value="test123"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/poseidon">
        </property>
    </bean>-->
    <!-- embedded db -->
    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:poseidon"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>-->
    <bean depends-on="dataSource"
          class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetClass" value="org.hsqldb.util.DatabaseManagerSwing" />
        <property name="targetMethod" value="main" />
        <property name="arguments">
            <list>
                <value>--url</value>
                <value>jdbc:hsqldb:mem:dataSource</value>
                <value>--user</value>
                <value>sa</value>
                <value>--password</value>
                <value></value>
            </list>
        </property>
    </bean>
    <!-- For cloud, use the below data source -->
    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.cloudbees.jdbc.Driver" />
        <property name="username" value="localuser"></property>
        <property name="password" value="localuser"></property>
        <property name="url" value="jdbc:cloudbees://poseidon">
        </property>
    </bean>-->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>