name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Test with Gradle
        run: ./gradlew test
      - name: Generate reports
        run: ./gradlew build jacocoTestReport
      #- name: Analyze on SonarCloud
      #  run: ./gradlew build sonarqube

