name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v6
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Test with Gradle
        run: ./gradlew test

      - name: Generate reports
        run: ./gradlew build jacocoTestReport
      #- name: Analyze on SonarCloud
      #  run: ./gradlew build sonarqube

